page-search {
    
.save{
            width: 100%;
            padding: 15px;
        color: azure;
        font-size: 1.2em;
        font-weight: 500;
            position: fixed;
            bottom: 0 !important;
            background: linear-gradient(to right, rgba(65,176,203,1), rgba(128,113,222,1)) !important;
        }
}
